venv
.vscode
*.jpg
*.png
*.log
bash.env
*.log
*.aux
*.lot
*.lof
*.out
*.toc
*.sty
*.bib
*.bst
*.def
*.cls
*.acn
*.bbl
*.blg
*.glo
*.glsdefs
*.ist
*.xdy
*.gz
*.fls
*.fdb_latexmk
*.bcf
*.run.xml
*.csv
*.synctex.gz

__pycache__
