venv
.vscode
Data/Test_images/*
Data/Training_annot/*
Data/Training_input/*
Model/*
*.log
bash.env
*.log
*.aux
*.lot
*.lof
*.out
*.toc
*.sty
*.def
*.acn
*.bbl
*.blg
*.glo
*.glsdefs
*.ist
*.xdy
*.gz
*.fls
*.fdb_latexmk
*.bcf
*.run.xml
*.csv
*.synctex.gz
*.ipynb_checkpoints

__pycache__
